@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400&family=Mada:wght@300;400;500;600&family=Open+Sans:wght@300;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&family=Roboto:wght@100;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

@media (min-width: 350px) and (max-width: 600px) {
  nav {
    position: relative;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    max-width: 100%;
    background-color: rgb(46, 45, 45);
    color: #999;
    border-bottom: #555 solid 1px;
  }
  nav .brandname a {
    color: #999;
    font-size: 2rem;
  }
  nav .brandname a:hover {
    text-decoration: none;
    color: #fff;
  }
  nav ul {
    position: absolute;
    list-style: none;
    top: 100px;
    right: 0;
    background-color: rgb(46, 45, 45);
    width: 100%;
    padding: 10px;
    z-index: 1;
    border-bottom: #555 solid 1px;
    display: none;
  }
  nav ul li {
    padding: 15px;
  }
  nav ul li:hover {
    background-color: #444;
  }
  nav ul a {
    font-size: 1.7rem;
    color: #999;
    padding: 10px auto;
  }
  nav ul a:hover {
    color: #fff;
    text-decoration: none;
  }
  nav .dropdown-icon {
    color: #999;
    font-size: 2rem;
  }
  nav .close-icon {
    color: #999;
    font-size: 2rem;
    display: none;
  }

  .section-a {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(./images/infinitech-removebg-preview.png) no-repeat top/cover;
    height: 100vh;
    text-align: center;
    position: relative;
  }
  .section-a .links {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: center;
    top: 0;
    background-color: #333;
    z-index: 10;
  }
  .section-a .links a {
    color: #999;
    font-size: 2rem;
    margin-right: 10px;
  }
  .section-a .wrapper {
    margin: 17vh auto;
  }
  .section-a .wrapper h3, .section-a .wrapper h2 {
    color: #fff;
  }
  .section-a .wrapper h1 {
    color: goldenrod;
    font-size: 5.5rem;
    font-weight: bold;
  }
  .section-a .wrapper button {
    background-color: black;
    border: 1px solid goldenrod;
    padding: 15px 35px;
    border-radius: 5px;
    color: #fff;
    margin-top: 20px;
  }
  .section-a .image {
    display: none;
  }

  .section-b {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(./images/portfolio-asset5.jpg) no-repeat center/cover;
    min-height: 80vh;
    padding: 0 20px 50px 20px;
    text-align: center;
  }
  .section-b .links {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: center;
    top: 0;
    background-color: #333;
    z-index: 10;
  }
  .section-b .links a {
    color: #999;
    font-size: 2rem;
    margin-right: 10px;
  }
  .section-b h1 {
    color: goldenrod;
    font-size: 3.5rem;
    font-weight: bold;
  }
  .section-b hr {
    width: 20%;
    margin: 10px auto;
    color: #999;
  }
  .section-b .about-me {
    color: #999;
    font-size: 1.7rem;
    line-height: 3.5rem;
  }
  .section-b .btn-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .section-b .btn-box a {
    padding: 15px 25px;
    margin: 0 20px;
    background-color: black;
    border: 1px solid goldenrod;
    border-radius: 5px;
    color: #999;
  }
  .section-b .btn-box a:hover {
    color: #fff;
    text-decoration: none;
  }

  .section-c {
    padding: 20px 20px 50px 20px;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(./images/portfolio-asset1.jpg) no-repeat center/cover;
  }
  .section-c .links {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: center;
    top: 0;
    background-color: #333;
    z-index: 10;
  }
  .section-c .links a {
    color: #999;
    font-size: 2rem;
    margin-right: 10px;
  }
  .section-c .what-we-do h1 {
    color: goldenrod;
    font-size: 3.5rem;
    font-weight: bold;
  }
  .section-c .what-we-do hr {
    width: 20%;
    margin: 10px auto;
    color: #999;
  }
  .section-c .what-we-do .service-summary {
    color: #999;
    font-size: 1.7rem;
    line-height: 3.5rem;
  }
  .section-c .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(250px auto);
    justify-content: center;
    align-items: center;
    row-gap: 10px;
  }
  .section-c .grid-container .grid-item {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid goldenrod;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding: 35px 15px;
  }
  .section-c .grid-container .grid-item .icons {
    font-size: 3.5rem;
  }
  .section-c .grid-container .grid-item h1 {
    font-size: 3rem;
  }
  .section-c .grid-container .grid-item-1 {
    background: linear-gradient(rgba(247, 223, 5, 0.5), rgba(40, 32, 4, 0.9)), url(./images/portfolio-asset5.jpg) no-repeat center/cover;
  }
  .section-c .grid-container .grid-item-2 {
    background: linear-gradient(rgba(11, 62, 3, 0.9), rgba(90, 230, 92, 0.7)), url(./images/portfolio-asset5.jpg) no-repeat center/cover;
  }
  .section-c .grid-container .grid-item-3 {
    background: linear-gradient(rgba(2, 32, 51, 0.9), rgba(87, 183, 235, 0.7)), url(./images/portfolio-asset5.jpg) no-repeat center/cover;
  }
  .section-c .grid-container .grid-item-4 {
    background: linear-gradient(rgba(72, 3, 74, 0.9), rgba(225, 88, 237, 0.7)), url(./images/portfolio-asset5.jpg) no-repeat center/cover;
  }

  .section-d {
    min-height: 100vh;
    background-color: #333;
    padding: 50px 20px;
    text-align: center;
  }
  .section-d h1 {
    color: #999;
    font-size: 3.5rem;
    font-weight: bold;
  }
  .section-d p {
    color: #999;
    margin-bottom: 50px;
  }
  .section-d .project-box {
    display: grid;
  }
  .section-d .box-1 {
    height: 300px;
    border: 5px solid #555;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .section-d .box-1 .project-image img {
    height: 200px;
    width: 100%;
    background-color: aqua;
  }
  .section-d .box-1 .project-information {
    background-color: #555;
    padding: 10px;
    height: 100px;
  }
  .section-d .box-1 .project-information p {
    font-size: 1.7rem;
    margin-bottom: 15px;
  }
  .section-d .box-1 .project-information p a {
    color: goldenrod;
    font-size: 1.7rem;
  }
  .section-d .box-1 .project-information p a:hover {
    text-decoration: none;
  }

  .footer {
    background-color: #222;
    min-height: 100px;
    padding: 30px;
    text-align: center;
    color: #999;
  }
  .footer .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .social-links a {
    color: goldenrod;
    font-size: 2.5rem;
    margin: 20px 15px;
  }
  .footer a {
    color: goldenrod;
  }
  .footer a:hover {
    text-decoration: none;
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  nav {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    max-width: 100%;
    background-color: rgb(46, 45, 45);
    color: #999;
    border-bottom: #555 solid 1px;
  }
  nav .brandname a {
    color: #999;
    font-size: 3rem;
    font-weight: bold;
  }
  nav .brandname a:hover {
    color: #fff;
    text-decoration: none;
  }
  nav ul {
    display: flex;
    list-style: none;
  }
  nav ul li {
    margin-left: 50px;
  }
  nav ul a {
    font-size: 1.7rem;
    color: #999;
    padding: 10px auto;
  }
  nav ul a:hover {
    color: #fff;
    text-decoration: none;
  }
  nav .dropdown-icon {
    color: rgb(210, 208, 208);
    display: none;
  }
  nav .close-icon {
    color: #999;
    font-size: 2rem;
    display: none;
  }

  .section-a {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(./images/workspace.jpg) no-repeat center/cover;
    min-height: 70vh;
    text-align: center;
  }
  .section-a .links {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: center;
    top: 0;
    background-color: #333;
    z-index: 10;
  }
  .section-a .links a {
    color: #999;
    font-size: 2rem;
    margin-right: 10px;
  }
  .section-a .wrapper {
    margin: 25vh auto;
  }
  .section-a .wrapper h3, .section-a .wrapper h2 {
    color: #fff;
  }
  .section-a .wrapper h1 {
    color: goldenrod;
    font-size: 5.5rem;
    font-weight: bold;
  }
  .section-a .wrapper button {
    background-color: black;
    border: 1px solid goldenrod;
    padding: 15px 35px;
    border-radius: 5px;
    color: #fff;
    margin-top: 20px;
  }
  .section-a .image {
    display: none;
  }

  .section-b {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(./images/portfolio-asset6.jpg) no-repeat center/cover;
    min-height: 80vh;
    padding: 30px;
    text-align: center;
  }
  .section-b .links {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: center;
    top: 0;
    background-color: #333;
    z-index: 10;
  }
  .section-b .links a {
    color: #999;
    font-size: 2rem;
    margin-right: 10px;
  }
  .section-b h1 {
    color: goldenrod;
    font-size: 3.5rem;
    font-weight: bold;
  }
  .section-b hr {
    width: 40%;
    margin: 10px auto;
    color: #999;
  }
  .section-b .about-me {
    color: #999;
    font-size: 1.7rem;
    line-height: 3.5rem;
    margin-top: 50px;
  }
  .section-b .btn-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .section-b .btn-box a {
    padding: 15px 25px;
    margin: 0 20px;
    background-color: black;
    border: 1px solid goldenrod;
    border-radius: 5px;
    color: #999;
  }
  .section-b .btn-box a:hover {
    color: #fff;
  }

  .section-c {
    padding: 30px;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(./images/portfolio-asset1.jpg) no-repeat center/cover;
  }
  .section-c .links {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: center;
    top: 0;
    background-color: #333;
    z-index: 10;
  }
  .section-c .links a {
    color: #999;
    font-size: 2rem;
    margin-right: 10px;
  }
  .section-c .what-we-do {
    padding: 0 50px;
  }
  .section-c .what-we-do h1 {
    color: goldenrod;
    font-size: 4rem;
    font-weight: bold;
  }
  .section-c .what-we-do hr {
    width: 40%;
    margin: 10px auto;
    color: #999;
  }
  .section-c .what-we-do .service-summary {
    color: #999;
    font-size: 1.7rem;
    line-height: 3.5rem;
    margin: 50px 0;
  }
  .section-c .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 30px;
  }
  .section-c .grid-container .grid-item {
    display: grid;
    height: 250px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding: 30px 10px;
  }
  .section-c .grid-container .grid-item .icons {
    font-size: 3rem;
  }
  .section-c .grid-container .grid-item h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  .section-c .grid-container .grid-item-1 {
    background: linear-gradient(rgba(247, 223, 5, 0.5), rgba(40, 32, 4, 0.9)), url(./images/portfolio-asset5.jpg) no-repeat center/cover;
  }
  .section-c .grid-container .grid-item-2 {
    background: linear-gradient(rgba(11, 62, 3, 0.9), rgba(90, 230, 92, 0.7)), url(./images/portfolio-asset5.jpg) no-repeat center/cover;
  }
  .section-c .grid-container .grid-item-3 {
    background: linear-gradient(rgba(2, 32, 51, 0.9), rgba(87, 183, 235, 0.7)), url(./images/portfolio-asset5.jpg) no-repeat center/cover;
  }
  .section-c .grid-container .grid-item-4 {
    background: linear-gradient(rgba(72, 3, 74, 0.9), rgba(225, 88, 237, 0.7)), url(./images/portfolio-asset5.jpg) no-repeat center/cover;
  }

  .section-d {
    min-height: 100vh;
    background-color: #333;
    padding: 30px;
    text-align: center;
  }
  .section-d h1 {
    color: #999;
    font-size: 3.5rem;
    font-weight: bold;
  }
  .section-d p {
    color: #999;
    margin-bottom: 50px;
  }
  .section-d .project-box {
    display: grid;
    grid-template-columns: 1fr;
  }
  .section-d .box-1 {
    height: 300px;
    border: 5px solid #555;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .section-d .box-1 .project-image img {
    height: 200px;
    width: 100%;
    background-color: aqua;
  }
  .section-d .box-1 .project-information {
    background-color: #555;
    padding: 10px;
    height: 100px;
  }
  .section-d .box-1 .project-information p {
    font-size: 1.7rem;
    margin-bottom: 15px;
  }
  .section-d .box-1 .project-information p a {
    color: goldenrod;
    font-size: 1.7rem;
  }
  .section-d .box-1 .project-information p a:hover {
    text-decoration: none;
  }

  .footer {
    background-color: #111;
    min-height: 100px;
    text-align: center;
    padding: 30px;
  }
  .footer .social-links a {
    color: goldenrod;
    font-size: 2.5rem;
    margin: 0 15px;
  }
  .footer p {
    font-size: 1.7rem;
    color: #999;
  }
  .footer p a {
    color: goldenrod;
  }
}
@media (min-width: 1001px) {
  nav {
    position: fixed;
    z-index: 10;
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    width: 100%;
    background-color: rgb(46, 45, 45);
    color: #999;
    border-bottom: #555 solid 1px;
  }
  nav .brandname a {
    color: #999;
    font-size: 3rem;
    font-weight: bold;
  }
  nav .brandname a:hover {
    text-decoration: none;
    color: #fff;
  }
  nav ul {
    display: flex;
    list-style: none;
  }
  nav ul li {
    margin-left: 50px;
  }
  nav ul a {
    font-size: 1.7rem;
    color: #999;
    padding: 10px auto;
  }
  nav ul a:hover {
    color: #fff;
    text-decoration: none;
  }
  nav .dropdown-icon {
    color: rgb(210, 208, 208);
    display: none;
  }
  nav .close-icon {
    color: #999;
    font-size: 2rem;
    display: none;
  }

  .section-a {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(./images/workspace.jpg) no-repeat center/cover;
    min-height: 100vh;
    text-align: center;
    padding: 0 100px;
  }
  .section-a .links {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: center;
    top: 100px;
    background-color: #333;
    z-index: 10;
  }
  .section-a .links a {
    color: #999;
    font-size: 2rem;
    margin-right: 10px;
  }
  .section-a .wrapper {
    margin: 25vh auto;
  }
  .section-a .wrapper h3,
.section-a .wrapper h2 {
    color: #fff;
  }
  .section-a .wrapper h1 {
    color: goldenrod;
    font-size: 5.5rem;
    font-weight: bold;
  }
  .section-a .wrapper button {
    background-color: black;
    border: 1px solid goldenrod;
    padding: 15px 35px;
    border-radius: 5px;
    color: #fff;
    margin-top: 20px;
  }
  .section-a .right-container {
    height: 100vh;
    overflow: hidden;
  }
  .section-a .right-container .image {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin: 25vh auto;
    background-color: #999;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .section-b {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(./images/portfolio-asset6.jpg) no-repeat center/cover;
    min-height: 80vh;
    padding: 50px 100px;
    text-align: center;
  }
  .section-b .links {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: center;
    top: 0;
    background-color: #333;
    z-index: 10;
  }
  .section-b .links a {
    color: #999;
    font-size: 2rem;
    margin-right: 10px;
  }
  .section-b h1 {
    color: goldenrod;
    font-size: 4rem;
    font-weight: bold;
  }
  .section-b hr {
    width: 20%;
    margin: 10px auto;
    color: #999;
  }
  .section-b .about-me {
    color: #999;
    font-size: 1.7rem;
    line-height: 3.5rem;
    margin-top: 50px;
  }
  .section-b .btn-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .section-b .btn-box a {
    padding: 15px 25px;
    margin: 0 20px;
    background-color: black;
    border: 1px solid goldenrod;
    border-radius: 5px;
    color: #999;
  }
  .section-b .btn-box a:hover {
    text-decoration: none;
    color: #fff;
  }

  .section-c {
    padding: 10px 100px 50px 100px;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(./images/portfolio-asset1.jpg) no-repeat center/cover;
  }
  .section-c .what-we-do h1 {
    color: goldenrod;
    font-size: 4rem;
    font-weight: bold;
  }
  .section-c .what-we-do hr {
    width: 20%;
    margin: 10px auto;
    color: #999;
  }
  .section-c .what-we-do .service-summary {
    color: #999;
    font-size: 1.7rem;
    line-height: 3.5rem;
    margin: 50px 0;
  }
  .section-c .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 50px;
  }
  .section-c .grid-container .grid-item {
    display: grid;
    height: 250px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding: 30px 10px;
  }
  .section-c .grid-container .grid-item .icons {
    font-size: 3.5rem;
  }
  .section-c .grid-container .grid-item h1 {
    font-size: 3.5rem;
    font-weight: bold;
  }
  .section-c .grid-container .grid-item-1 {
    background: linear-gradient(rgba(247, 223, 5, 0.5), rgba(40, 32, 4, 0.9)), url(./images/portfolio-asset5.jpg) no-repeat center/cover;
  }
  .section-c .grid-container .grid-item-2 {
    background: linear-gradient(rgba(11, 62, 3, 0.9), rgba(90, 230, 92, 0.7)), url(./images/portfolio-asset6.jpg) no-repeat bottom/cover;
  }
  .section-c .grid-container .grid-item-3 {
    background: linear-gradient(rgba(2, 32, 51, 0.9), rgba(87, 183, 235, 0.7)), url(./images/portfolio-asset3.jpg) no-repeat center/cover;
  }
  .section-c .grid-container .grid-item-4 {
    background: linear-gradient(rgba(72, 3, 74, 0.9), rgba(225, 88, 237, 0.7)), url(./images/workspace.jpg) no-repeat center/cover;
  }

  .section-d {
    min-height: 100vh;
    background-color: #222;
    padding: 50px 100px;
    text-align: center;
  }
  .section-d h1 {
    color: #999;
    font-size: 3.5rem;
    font-weight: bold;
  }
  .section-d p {
    color: #999;
    margin-bottom: 50px;
  }
  .section-d .box-1 {
    height: 300px;
    border: 5px solid #555;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .section-d .box-1 .project-image img {
    height: 200px;
    width: 100%;
    background-color: aqua;
  }
  .section-d .box-1 .project-information {
    background-color: #555;
    padding: 10px;
    height: 100px;
  }
  .section-d .box-1 .project-information p {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  .section-d .box-1 .project-information p a {
    color: goldenrod;
    font-size: 1.5rem;
  }
  .section-d .box-1 .project-information p a:hover {
    text-decoration: none;
  }

  .footer {
    background-color: #111;
    min-height: 100px;
    padding: 30px 100px;
    text-align: center;
  }
  .footer .social-links a {
    color: goldenrod;
    font-size: 2.5rem;
    margin: 0 15px;
  }
  .footer p {
    font-size: 1.7rem;
    color: #999;
  }
  .footer p a {
    color: goldenrod;
  }
}/*# sourceMappingURL=main.css.map */