@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400&family=Mada:wght@300;400;500;600&family=Open+Sans:wght@300;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&family=Roboto:wght@100;300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #333;
}
// ON MEDIA SCREENS

  @media (min-width: 350px) and (max-width: 600px) {
nav{
  position: relative;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  max-width: 100%;
  background-color: rgb(46, 45, 45);
  color: #999;
  border-bottom: #555 solid 1px;
  transition: all 0.3s ease-in;

      .brandname a{
        color: #999;
        font-size: 2.5rem;
        font-weight: bold;

        span {
            color: goldenrod;
          }

        &:hover {
          text-decoration: none;
          color: #fff;
        }
      }

      ul{
        position: absolute;
        list-style: none;
        text-align: center;
        top: 100px;
        right: 0;
        background-color: #333;
        // background-color: rgba($color: #333, $alpha: 0.8);
        width: 100%;
        padding: 10px;
        z-index: 1;
        border-bottom: #555 solid 1px;
        display: none; //to be revealed with JS
        transition: all 0.5s ease-in;

        li{
          padding: 15px;
          &:hover{
            background-color: #222;
            transition: all 0.3s ease-in;
          }
        }

        a{
          font-size: 1.7rem;
          color: #999;
          padding: 10px auto;
        
          &:hover {
            color: #fff;
            text-decoration: underline goldenrod 2px;
            text-underline-offset: 0.5rem;
            transition: all 0.3s ease-in;
          }
        }
      }
      #open-nav {
        color: #999;
        font-size: 2.5rem;
        color: goldenrod;
      }
      #close-nav {
        color: #999;
        font-size: 2.5rem;
        display: none;
        color: goldenrod;
      }
      
}
.section-a{
  // background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url(./images/infinitech-removebg-preview.png) no-repeat top/cover;
  background-color: #222;
  height: 100vh;
  text-align: center;

  .wrapper{
    margin: 10vh auto;
    h3, h2{
      color: #fff;
    }
    h1{
      color: goldenrod;
      font-size: 5.5rem;
      font-weight: bold;
    }
    .btn{
      background-color: #000;
      border: 1px solid goldenrod;
      padding: 15px 35px;
      border-radius: 5px;
      color: #fff;
      margin-top: 20px;
    }
  }
    .image {
      display: block;
      background-color: goldenrod;
      border: 2px solid goldenrod;
      height: 250px;
      width: 250px;
      border-radius: 50%;
      margin: -30px auto;
      object-fit: cover;
    }
  
}
.section-b{
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(./images/portfolio-asset6.jpg) no-repeat center/cover;
  min-height: 80vh;
  padding: 20px 30px;
  // text-align: center;

  h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: bolder;
  }
  h3 {
    color: #999;
  }
  .more-about-me {
    .heading {
      display: flex;
      justify-content: center;
      align-items: center;
      height:50px;

      h3 {
        color: #fff;
        font-size: 2rem;
      }

      hr {
        width: 100px;
        margin-left: 30px;
        color: #999;
        display: inline;
      }
    }
    p {
      color: #999;
      font-size: 1.7rem;
      line-height: 2;
    }
    ul {
      // border: 1px solid red;
      color: #999;
      list-style-type: square;
      line-height: 2;
      font-size: 1.7rem;
    }
    h3 {
      font-size: 2rem;
    }
  }
  h1{
    text-align: center;
    color: goldenrod;
    font-size: 4rem;
    font-weight: bold;
  }
  hr{
    width: 40%;
    margin: 10px auto;
    color: #999;
  }
  .about-me{
    color: #999;
    font-size: 1.7rem;
    line-height: 3.5rem;
  }
  .btn-box{
    margin-top: 20px;
    display: flex;
    justify-content: center;

    a {
      padding: 15px 10px;
      margin: 0 10px;
      background-color: black;
      border: 1px solid goldenrod;
      border-radius: 5px;
      color: #999;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
.section-c{
padding: 20px 20px 50px 20px;
min-height: 100vh;
text-align: center;
background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
    url(./images/portfolio-asset1.jpg) no-repeat center/cover;

  .what-we-do{   
    
    h1{
    color: goldenrod;
    font-size: 3.5rem;
    font-weight: bold;
      }
      
      hr {
        width: 20%;
        margin: 10px auto;
        color: #999;
    }
    .service-summary{
      color: #999;
      font-size: 1.7rem;
      line-height: 3.5rem;
    }
  }
  .grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(250px auto);
    justify-content: center;
    align-items: center;
    row-gap: 10px;

    .grid-item {
      display: grid;
      grid-template-columns: 1fr;
      border: 1px solid goldenrod;
      border-radius: 5px;
      color: #fff;
      text-align: center;
      padding: 35px 15px;

      .icons{
        font-size: 3.5rem;
      }
      h1{
        font-size: 3rem;
      }
    }
    .grid-item-1 {
      background: linear-gradient(rgba(247, 223, 5, 0.5), rgba(40, 32, 4, 0.9)),
        url(./images/portfolio-asset5.jpg) no-repeat center/cover;
    }
    .grid-item-2 {
      background: linear-gradient(rgba(11, 62, 3, 0.9), rgba(90, 230, 92, 0.7)),
        url(./images/portfolio-asset5.jpg) no-repeat center/cover;;
    }
    .grid-item-3 {
      background: linear-gradient(rgba(2, 32, 51, 0.9), rgba(87, 183, 235, 0.7)),
        url(./images/portfolio-asset5.jpg) no-repeat center/cover;;
    }
    .grid-item-4 {
      background: linear-gradient(rgba(72, 3, 74, 0.9), rgba(225, 88, 237, 0.7)),
        url(./images/portfolio-asset5.jpg) no-repeat center/cover;;
    }
  }
}
.section-d{
  min-height: 100vh;
  background-color: #222;
  padding: 50px 20px;
  text-align: center;

h1 {
    color: goldenrod;
    font-size: 4rem;
    font-weight: bold;
  }

    hr {
      color: #999;
      width: 50%;
      margin: 20px auto;
    }
  p{
    color: #999;
    margin-bottom: 50px;
    font-size: 1.7rem;
  }
  .project-box {
    display: grid;
    
  }
  .box-1 {
    height: 300px;
    border: 5px solid #333;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;

    .project-image img {
      height: 200px;
      width: 100%;
      // object-fit: cover;
      background-color: aqua;
    }
    .project-information {
      background-color: #333;
      padding: 10px;
      height: 100px;

      p{
        font-size: 1.7rem;
        margin-bottom: 10px;
        a{
          color: goldenrod;
          font-size: 1.7rem;
  
          &:hover{
            text-decoration: none;
          }
        }
      }

    }
  }

}
.section-e {
  background-color: #222;
  min-height: 100vh;
  width: 100%;
  padding: 30px;
  text-align: center;

  h1 {
    font-size: 4rem;
    font-weight: bold;
    color: goldenrod;
  }

  hr {
    width: 60%;
    margin: 20px auto;
    color: #999;
  }

  .contact-form {
    min-height: 70vh;
    width: 100%;
    margin: 50px auto;
    border: 2px solid goldenrod;
    padding: 20px;
    text-align: left;
  }

  label {
    display: block;
    color: #999;
    font-size: 1.7rem;
  }

  input,
  textarea {
    border: 2px solid goldenrod;
    outline: none;
    padding: 15px 20px;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .btn {
    background-color: #111;
    color: #999;
    padding: 15px 30px;
    border: 1px solid goldenrod;
    margin-top: 30px;
    width: 100%;
  }
}
.section-f {
  background-color: #222;
  padding: 50px 30px;
  text-align: center;

  h1 {
    font-size: 4rem;
    font-weight: bold;
    color: goldenrod;
  }

  hr {
    width: 30%;
    color: #999;
    margin: 20px auto;
  }

  p {
    font-size: 1.7rem;
    color: #999;
    margin-bottom: 30px;
  }

  .tiidelab-img-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 40px auto;
    grid-gap: 10px;

    .tiidelab-image {
      height: 300px;
      // width: 400px;
      // border: 1px solid goldenrod;
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;

      img {
        height: 300px;
      }
    }
  }

  .btn {
    color: #999;
    background-color: #111;
    border: 1px solid goldenrod;
    padding: 15px 30px;
    margin-top: 30px;
    font-size: 1.7rem;
  }
}
.footer{
  background-color: #111;
  min-height: 100px;
  padding: 10px 30px;
  text-align: center;
  color: #999;

  .social-links{
    display: flex;
    justify-content: center;
    align-items: center;
   a{
    color: goldenrod;
    font-size: 2.5rem;
    margin: 20px 15px;
  }
}
a{
  color: goldenrod;
  &:hover {
    text-decoration: none;
  }
}
}
  }
  @media (min-width: 601px) and (max-width: 1000px) {
    nav {
        display: flex;
        flex-direction: column;
        padding: 10px 30px;
        justify-content: space-between;
        align-items: center;
        min-height: 100px;
        max-width: 100%;
        background-color: rgb(46, 45, 45);
        color: #999;
        border-bottom: #555 solid 1px;
    
        .brandname a {
          color: #999;
          font-size: 3rem;
          font-weight: bold;

          span {
              color: goldenrod;
            }

          &:hover {
            color: #fff;
            text-decoration: none;
          }
          
        }
    
        ul {
          display: flex;
          list-style: none;
          li {
            margin-left: 30px;
          }
    
          a {
            font-size: 1.7rem;
            color: #999;
            padding: 10px auto;
    
          &:hover {
              color: #fff;
              text-decoration: underline goldenrod 3px;
              text-underline-offset: 0.5rem;
              transition: all 0.3s ease-in;
            }
          }
        }
        #open-nav {
          color: #999;
          font-size: 2.5rem;
          display: none;
        }
        #close-nav {
          color: #999;
          font-size: 2.5rem;
          display: none;
        }
    
        
      }
    .section-a {
      background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(./images/workspace.jpg) no-repeat center/cover;
      min-height: 100vh;
      text-align: center;

      
      .wrapper {
        margin: 25vh auto;
        
        h3, h2 {
          color: #fff;
        }
        
        h1 {
          color: goldenrod;
          font-size: 5.5rem;
          font-weight: bold;
        }
        
        .btn {
          background-color: black;
          border: 1px solid goldenrod;
          padding: 15px 35px;
          border-radius: 5px;
          color: #fff;
          margin-top: 20px;
        }
        
      }
      .image {
        display: none;
      }
      }
    .section-b{
      background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(./images/portfolio-asset6.jpg) no-repeat center/cover;
      min-height: 80vh;
      padding: 30px;
      // text-align: center;

      h2 {
          color: #fff;
          font-size: 2.5rem;
          font-weight: bolder;
        }
      
        h3 {
          color: #999;
        }
      
        .more-about-me {
          .heading {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
      
            h3 {
              color: #fff;
              font-size: 2rem;
            }
      
            hr {
              width: 250px;
              margin-left: 20px;
              color: #999;
              display: inline;
            }
          }
      
          p {
            color: #999;
            font-size: 1.7rem;
            line-height: 2;
          }
      
          ul {
            // border: 1px solid red;
            color: #999;
            list-style-type: square;
            line-height: 2;
            font-size: 1.7rem;
          }
      
          h3 {
            font-size: 2rem;
          }
        }

  h1{
    color: goldenrod;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
  }
  hr{
    width: 40%;
    margin: 10px auto;
    color: #999;
  }
  .about-me{
    color: #999;
    font-size: 1.7rem;
    line-height: 3.5rem;
    margin-top: 50px;
  }
  .btn-box{
    margin-top: 20px;
    display: flex;
    justify-content: center;

    a{
      padding: 15px 25px;
      margin: 0 20px;
      background-color: black;
      border: 1px solid goldenrod;
      border-radius: 5px;
      color: #999;
      &:hover {
        color: #fff;
      }
    }
  }
      }
    .section-c {
      padding: 30px;
      min-height: 100vh;
      text-align: center;
      background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
          url(./images/portfolio-asset1.jpg) no-repeat center/cover;
      .links {
          position: sticky;
          display: flex;
          justify-content: center;
          top: 0;
          background-color: #333;
          z-index: 10;
      
          a {
            color: #999;
            font-size: 2rem;
            margin-right: 10px;
          }
        }

      .what-we-do {
      padding: 0 50px;
      h1 {
        color: goldenrod;
        font-size: 4rem;
        font-weight: bold;
      }
      
      hr {
        width: 40%;
        margin: 10px auto;
        color: #999;
      }
      
      .service-summary {
        color: #999;
        font-size: 1.7rem;
        line-height: 3.5rem;
        margin: 50px 0;
      }
    }
      
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 0 30px;
      
      .grid-item {
        display: grid;
        height: 250px;
        border: 1px solid goldenrod;
        border-radius: 5px;
        color: #fff;
        text-align: center;
        padding: 30px 10px;
        .icons {
          font-size: 3rem;
        }
      
        h1 {
          font-size: 2rem;
          font-weight: bold;
        }
      }
      
                .grid-item-1 {
                  background: linear-gradient(rgba(247, 223, 5, 0.5), rgba(40, 32, 4, 0.9)),
                    url(./images/portfolio-asset5.jpg) no-repeat center/cover;
                }
      
                .grid-item-2 {
                  background: linear-gradient(rgba(11, 62, 3, 0.9), rgba(90, 230, 92, 0.7)),
                    url(./images/portfolio-asset5.jpg) no-repeat center/cover;
                  ;
                }
      
                .grid-item-3 {
                  background: linear-gradient(rgba(2, 32, 51, 0.9), rgba(87, 183, 235, 0.7)),
                    url(./images/portfolio-asset5.jpg) no-repeat center/cover;
                  ;
                }
      
                .grid-item-4 {
                  background: linear-gradient(rgba(72, 3, 74, 0.9), rgba(225, 88, 237, 0.7)),
                    url(./images/portfolio-asset5.jpg) no-repeat center/cover;
                  ;
                }
              }
      }
    .section-d {
          min-height: 100vh;
          background-color: #222;
          padding: 30px;
          text-align: center;

          h1 {
              color: goldenrod;
              font-size: 4rem;
              font-weight: bold;
            }
            hr {
              color: #999;
              width: 50%;
              margin: 20px auto;
            }

          p {
            color: #999;
            margin-bottom: 50px;
            font-size: 1.7rem;
          }
    
          .project-box {
            display: grid;
            grid-template-columns: 1fr;
    
          }
    
          .box-1 {
            height: 300px;
            border: 5px solid #333;
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 20px;
    
            .project-image img {
              height: 200px;
              width: 100%;
              // object-fit: cover;
              background-color: aqua;
            }
    
            .project-information {
              background-color: #333;
              padding: 10px;
              height: 100px;
    
              p {
                font-size: 1.7rem;
                margin-bottom: 10px;
    
                a {
                  color: goldenrod;
                  font-size: 1.7rem;
    
                  &:hover {
                    text-decoration: none;
                  }
                }
              }
    
            }
          }
    
      }
    .section-e {
      background-color: #222;
      min-height: 100vh;
      width: 100%;
      padding: 50px;
      text-align: center;
  
      h1 {
        font-size: 4rem;
        font-weight: bold;
        color: goldenrod;
      }
  
      hr {
        width: 30%;
        margin: 20px auto;
        color: #999;
      }
  
      .contact-form {
        min-height: 70vh;
        width: 80%;
        margin: 50px auto;
        border: 2px solid goldenrod;
        padding: 30px;
        text-align: left;
      }
  
      label {
        display: block;
        color: #999;
        font-size: 1.7rem;
      }
  
      input,
      textarea {
        border: 2px solid goldenrod;
        outline: none;
        padding: 15px 20px;
        border-radius: 5px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 20px;
      }
  
      .btn {
        background-color: #111;
        color: #999;
        padding: 15px 30px;
        border: 1px solid goldenrod;
        margin-top: 30px;
        width: 100%;
      }
    }
    .section-f {
      background-color: #222;
      padding: 50px 30px;
      text-align: center;
  
      h1 {
        font-size: 4rem;
        font-weight: bold;
        color: goldenrod;
      }
  
      hr {
        width: 30%;
        color: #999;
        margin: 20px auto;
      }
  
      p {
        font-size: 1.7rem;
        color: #999;
        margin-bottom: 30px;
      }
  
      .tiidelab-img-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 40px auto;
        grid-gap: 10px;
        // border: 2px red solid;
  
        .tiidelab-image {
          height: 300px;
          // width: 400px;
          // border: 1px solid goldenrod;
          border-radius: 5px;
          overflow: hidden;
          cursor: pointer;
  
          img {
            height: 300px;
          }
        }
      }
  
      .btn {
        color: #999;
        background-color: #111;
        border: 1px solid goldenrod;
        padding: 15px 30px;
        margin-top: 30px;
        font-size: 1.7rem;
      }
    }
    .footer {
      background-color: #111;
      min-height: 100px;
      text-align: center;
      padding: 30px;
      
      .social-links a {
        color: goldenrod;
        font-size: 2.5rem;
        margin: 0 15px;
      }

      p {
        font-size: 1.7rem;
        color: #999;
      
        a {
          color: goldenrod;
        }
      }
    }


  }
  @media (min-width: 1001px) {
    nav {
        position: fixed;
        z-index: 10;
        display: flex;
        padding: 0 100px;
        justify-content: space-between;
        align-items: center;
        min-height: 100px;
        width: 100%;
        background-color: rgb(46, 45, 45);
        color: #999;
        border-bottom: #555 solid 1px;
    
        .brandname a {
          color: #999;
          font-size: 3rem;
          font-weight: bold;

          span {
              color: goldenrod;
            }

          &:hover {
            text-decoration: none;
            color: #fff;
          }
        }
    
        ul {
          display: flex;
          list-style: none;
    
          li {
            margin-left: 50px;
          }
    
          a {
            font-size: 1.7rem;
            color: #999;
            padding: 10px auto;
    
            &:hover {
              color: #fff;
              text-decoration: underline goldenrod 3px;
              text-underline-offset: 0.5rem;
              transition: all 0.3s ease-in;
            }
          }
        }
    
        #open-nav {
          color: #999;
          font-size: 2.5rem;
          display: none;
        }
        #close-nav {
          color: #999;
          font-size: 2.5rem;
          display: none;
        }
    
    
      }
    .section-a {
          background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(./images/workspace.jpg) no-repeat center/cover;
          min-height: 100vh;
          text-align: center;
          padding: 0 100px;

          .links {
              position: sticky;
              display: flex;
              justify-content: center;
              top: 100px;
              background-color: #333;
              z-index: 10;
          
              a {
                color: #999;
                font-size: 2rem;
                margin-right: 10px;
              }
            }
    
          .wrapper {
            margin: 25vh auto;
    
            h3,
            h2 {
              color: #fff;
            }
    
            h1 {
              color: goldenrod;
              font-size: 5.5rem;
              font-weight: bold;
            }
    
            .btn {
              background-color: black;
              border: 1px solid goldenrod;
              padding: 15px 35px;
              border-radius: 5px;
              color: #fff;
              margin-top: 20px;
            }
    
          }
          .right-container{
            height: 100vh;
            overflow: hidden;

            .image {
              height: 400px;
              width: 400px;
              border-radius: 50%;
              // width: 100%;
              // border-radius: 5px;
              // border: 5px solid goldenrod;
              margin: 25vh auto;
              background-color: #999;
              object-fit: cover;
            }
          }
          
      }
    .section-b {
      background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(./images/portfolio-asset6.jpg) no-repeat center/cover;
      min-height: 80vh;
      padding: 100px;
      // text-align: center;

      h2 {
          color: #fff;
          font-size: 2.5rem;
          font-weight: bolder;
        }
      
        h3 {
          color: #999;
        }
      
        .more-about-me {
          .heading {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
      
            h3 {
              color: #fff;
              font-size: 2rem;
            }
      
            hr {
              width: 250px;
              margin-left: 20px;
              color: #999;
              display: inline;
            }
          }
      
          p {
            color: #999;
            font-size: 1.7rem;
            line-height: 2;
          }
      
          ul {
            // border: 1px solid red;
            color: #999;
            list-style-type: square;
            line-height: 2;
            font-size: 1.7rem;
          }
      
          h3 {
            font-size: 2rem;
          }
        }

      h1 {
        color: goldenrod;
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
      }
  
      hr {
        width: 20%;
        margin: 10px auto;
        color: #999;
      }
  
      .about-me {
        color: #999;
        font-size: 1.7rem;
        line-height: 3.5rem;
        margin-top: 50px;
      }
  
      .btn-box {
        margin-top: 20px;
        display: flex;
        justify-content: center;
  
        a {
          padding: 15px 25px;
          margin: 0 20px;
          background-color: black;
          border: 1px solid goldenrod;
          border-radius: 5px;
          color: #999;
            &:hover {
              text-decoration: none;
              color: #fff;
            }
        }
      }
    }
    .section-c {
      padding: 100px 100px 50px 100px;
      min-height: 100vh;
      text-align: center;
      // background-color: rgb(46, 45, 45);
      background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)),
        url(./images/portfolio-asset1.jpg) no-repeat center/cover;
  
      .what-we-do {
  
        h1 {
          color: goldenrod;
          font-size: 4rem;
          font-weight: bold;
        }
  
        hr {
          width: 20%;
          margin: 10px auto;
          color: #999;
        }
  
        .service-summary {
          color: #999;
          font-size: 1.7rem;
          line-height: 3.5rem;
          margin: 50px 0;
        }
      }
  
      .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 0 50px;
  
        .grid-item {
          display: grid;
          height: 250px;
          border: 1px solid goldenrod;
          border-radius: 5px;
          color: #fff;
          text-align: center;
          padding: 30px 10px;
  
          .icons {
            font-size: 3.5rem;
          }
  
          h1 {
            font-size: 3.5rem;
            font-weight: bold;
          }
        }
  
        .grid-item-1 {
          background: linear-gradient(rgba(247, 223, 5, 0.5), rgba(40, 32, 4, 0.9)),
            url(./images/portfolio-asset5.jpg) no-repeat center/cover;
        }
  
        .grid-item-2 {
          background: linear-gradient(rgba(11, 62, 3, 0.9), rgba(90, 230, 92, 0.7)),
            url(./images/portfolio-asset6.jpg) no-repeat bottom/cover;
          ;
        }
  
        .grid-item-3 {
          background: linear-gradient(rgba(2, 32, 51, 0.9), rgba(87, 183, 235, 0.7)),
            url(./images/portfolio-asset3.jpg) no-repeat center/cover;
          ;
        }
  
        .grid-item-4 {
          background: linear-gradient(rgba(72, 3, 74, 0.9), rgba(225, 88, 237, 0.7)),
            url(./images/workspace.jpg) no-repeat center/cover;
          ;
        }
      }
    }
    .section-d {
      min-height: 100vh;
      background-color: #222;
      padding: 100px 100px;
      text-align: center;

      h1 {
        color: goldenrod;
        font-size: 4rem;
        font-weight: bold;
      }
      hr{
        color: #999;
        width: 20%;
        margin: 20px auto;
      }
  
      p {
        color: #999;
        margin-bottom: 50px;
        font-size: 1.7rem;
      }
  
      .box-1 {
        height: 300px;
        border: 5px solid #333;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 20px;
  
        .project-image img {
          height: 200px;
          width: 100%;
          // object-fit: cover;
          background-color: aqua;
        }
  
        .project-information {
          background-color: #333;
          padding: 10px;
          height: 100px;
  
          p {
            font-size: 1.5rem;
            margin-bottom: 10px;
  
            a {
              color: goldenrod;
              font-size: 1.5rem;
  
              &:hover {
                text-decoration: none;
              }
            }
          }
  
        }
      }
  
    }
    .section-e {
      background-color: #222;
      min-height: 100vh;
      width: 100%;
      padding: 100px;
      text-align: center;
      
      h1 {
        font-size: 4rem;
        font-weight: bold;
        color: goldenrod;
      }
      hr {
        width: 30%;
        margin: 20px auto;
        color: #999;
      }
      .contact-form {
        min-height: 70vh;
        width: 60%;
        margin: 50px auto;
        border: 2px solid goldenrod;
        padding: 30px;
        text-align: left;
      }
      label {
        display: block;
        color: #999;
        font-size: 1.7rem;
      }
      input, textarea {
        border: 2px solid goldenrod;
        outline: none;
        padding: 15px 20px;
        border-radius: 5px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 20px;
      }
      .btn {
        background-color: #111;
        color: #999;
        padding: 15px 30px;
        border: 1px solid goldenrod;
        margin-top: 30px;
        width: 100%;
      }
    }
    .section-f {
      background-color: #222;
      padding: 100px 100px;
      text-align: center;

      h1 {
        font-size: 4rem;
        font-weight: bold;
        color: goldenrod;
      }
      hr {
        width: 30%;
        color: #999;
        margin: 20px auto;
      }
      p {
        font-size: 1.7rem;
        color: #999;
        margin-bottom: 30px;
      }

      .tiidelab-img-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 40px auto;
        grid-gap: 10px;
        // border: 2px red solid;

        .tiidelab-image {
          height: 300px;
          // width: 400px;
          // border: 1px solid goldenrod;
          border-radius: 5px;
          overflow: hidden;
          cursor: pointer;

          img {
            height: 300px;
          }
        }
      }
      .btn {
        color: #999;
        background-color: #111;
        border: 1px solid goldenrod;
        padding: 15px 30px;
        margin-top: 30px;
        font-size: 1.7rem;
      }
    }
    .footer {
      background-color: #111;
      min-height: 100px;
      padding: 30px 100px;
      text-align: center;
  
      .social-links a {
        color: goldenrod;
        font-size: 2.5rem;
        margin: 0 15px;
      }
      p {
        font-size: 1.7rem;
        color: #999;

        a{
          color: goldenrod;
        }
      }
    }
    
    // @keyframes underline {
    //   0% {width: 0;}
    //   25% {width: 25%;}
    //   50% {width: 50%;}
    //   75% {width: 75%;}
    //   100% {width: 100%;}
    // }
  }
   